@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', 'san-serif';
    background: rgb(21, 160, 253);
    margin: 0;
  }

#hopesListTitle  {
  font-weight: bold;
  text-align: left;
}

img {
  float: left;
  width:  200px;
  height: 400px;
  object-fit: cover;
}

#time, #timeDiv {
  background-color: aliceblue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  height: auto;
  width: auto;
  margin-left: auto;
}